* {
  font-family: "JetBrains Mono NL", "Symbols Nerd Font";
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
}

window#waybar {
  background: none;
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
}

.modules-left,
.modules-right {
  margin: 2px 4px;
  padding: 0px;
  background: rgba(31, 31, 31, 1);
  border-radius: 5px;
}

#workspaces,
#wireplumber,
#clock,
#tray,
#custom-rofi {
  padding: 0px 10px;
  margin: 2px 2px 0px 2px;
}

#workspaces {
  padding: 0px;
}

#workspaces button {
  border-radius: 0px;
  border: none;
  text-shadow: none;
  box-shadow: none;
  transition: none;
  -gtk-icon-shadow: none;
  -gtk-icon-effect: none;
  min-width: 0px;
  color: rgba(255, 255, 255, 1);
  opacity: 0.25;
  transition: all .2s ease;
}

#workspaces button.active {
  opacity: 1;
  color: rgba(19, 19, 19, 1);
}

#workspaces button:hover {
  opacity: 1;
}
