@define-color bg1 rgba(30, 30, 31, 1);
@define-color bg2 rgba(100, 100, 101, 1);

@define-color fg rgba(255, 255, 255, 1);

* {
  font-family: "Noto Serif Mono", "Symbols Nerd Font";
  font-size: 14px;
  font-weight: 400;
  color: @fg;
}

window#waybar {
  background: none;
}

.modules-left,
.modules-right,
.modules-center {
  margin: 0px 12px;
  padding: 0px;
  background: none;
}

#workspaces,
#window,
#wireplumber,
#battery,
#clock,
#tray,
#custom-rofi {
  background: @bg1;
  border-radius: 10px;
  margin: 12px 8px 2px 8px;
  padding: 4px 10px;

  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

#workspaces {
  padding: 0px;
}

window#waybar.empty #window {
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-shadow: none;
  background: transparent;
}

#workspaces button {
  border-radius: 10px;
  border: none;
  text-shadow: none;
  box-shadow: none;
  transition: none;
  -gtk-icon-shadow: none;
  -gtk-icon-effect: none;
  min-width: 0px;

  color: @fg;
  opacity: 0.25;
  transition: all .2s ease;
}

#workspaces button.active, button.focused {
  background: @bg2;
  opacity: 1;
  color: rgba(19, 19, 19, 1);
}

#workspaces button:hover {
  opacity: 1;
}

#custom-rofi:hover {
  background: @bg2;
  transition: all .2s ease;
}
